
/*Custom Theme*/
.block-title{

}
@media (min-width:768px){
    .categoryPopular--list{
        li{
            display: inline;
            position: relative;
        }
        li:not(:first-child):before{
            content: '';
            background: #E5E8EC;
            height: 1px;
            display: block;
            width: 20px;
            position: absolute;
            top: 50%;
            left: -30px;
            transform: translate(0, -50%);
        }
    }
    #productGallery{
        margin-top: 10%; 
    }
}

.carouselWrapper{
    .swiper-slide:last-child {
        .group{
            border:none;
        }
    }
}
span.has-dot:before {
    content: "";
    width: 4px;
    height: 4px;
    background: #d2d2d2;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    display: block;
    left: -2px;

}
/* pagination */
.rc-pagination.blog-pagination .rc-pagination-prev,
.rc-pagination.blog-pagination .rc-pagination-next,
.rc-pagination.blog-pagination .rc-pagination-item {
    height: 40px;
    width: 40px;
    padding: 6px 5px;
    background-color: #f2f3f4;
    border-radius: 40px;
    border: none;
    font-weight: 600;
    margin-right: 10px;
    &:hover{
        @apply bg-brand;
        a{
            color:white;
        }
    }
}

.rc-pagination.blog-pagination li.rc-pagination-disabled {
    opacity: 0.5;

}
.rc-pagination.blog-pagination li.rc-pagination-item-active {
    @apply bg-brand;

}
.rc-pagination.blog-pagination li svg {
    width: 100%;
}
.rc-pagination.blog-pagination li.rc-pagination-item-active a {
    opacity: 1;
    color:white;
}
.rc-pagination.blog-pagination li a {
    padding: 0;
    color: rgba(0, 0, 0, 0.6);
}
//images Icons
/*.bg-iconPhone{
    background: url("/assets/images/icons/icon-phone.png") no-repeat;
}
.bg-iconPhone2{
    width: 44px;
    height: 44px;
    background-color: #ff9300;
    mask-image: url("/assets/images/icons/hotline_icon.svg") ;
}*/

//Mega Menu horizontal & Vertical
.subMega {
    width: 100%;
    visibility: hidden;
    transition: all 0.2s;
    top: calc(100% + 8px);
}

.headerMenu .menuItem:hover > .subMega {
    visibility: visible;
    top: calc(100% + 0px);
}
.grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
}
.grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.category-dropdown-menu  li  {
    div.subMenu--level1,
    div.subMenu--level2,
    div.subMenu--level3{
        top: -13px;
    }
    > div.dropdownMenu {
        left: 85%;
        li>a{
            padding: 8px 0;
        }
    }
}
.category-dropdown-menu  li:hover > div.dropdownMenu{
    left: 100%;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-out , all 0.1s ease-in-out;
}
//CATEGORIES FEATURED
.card-category--zoom{
    > .card-category--thumb:before{
        opacity: 0;
        transform: scale(.8);
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: inherit;
        border: 2px solid #2b38d1;
        box-shadow: 0 0 0 6px #fff inset;
        transition: 0.3s all ease-in-out 0s;
    }
    &:hover{
        > div::before{
            opacity: 1;
            transform: scale(1);
        }
    }
}

//TOOLBAR LISTING TOP
.filters-panel{
    margin-bottom: 5px;
    .form-field{margin: 0;}
    .list-view{ display: inline-block;
        .btn-gridview{ border: none;  float: left; padding:0.5em ; }

        button.btn{
            padding: 5px;
            float: left;
            width: 38px;
            height: 38px;
            border: 1px solid #dedede;
            justify-content: center;
            align-items: center;
            &.grid {margin-right: -1px;
                .icon-bar{width:4px;}
                .icon-bar:after,.icon-bar:before{
                    position: absolute;
                    display: block;
                    width: 4px;
                    height: 4px;
                    content: '';
                    transition: all .15s ease;
                    background: #dedede;

                }
                .icon-bar:after{left: -5px;}
                .icon-bar:before{right: -5px;}
            }

            .icon-bar {
                position: relative;
                top: -1px;
                width: 14px;
                height: 4px;
                margin: 1px auto 0;
                transition: all .15s ease;
                background: #e5e5e5;
            }

            /* Hover Grid view*/
            &.active{
                .icon-bar{background:#333;  }
                .icon-bar:after,.icon-bar:before{background:#333;}
            }

            &:focus{box-shadow: none; outline: none;}
        }

    }

}

//Product Grid
.product-card {
    .product-cart-content{
        background: #fff;
        position: relative;
        transition: all .4s ease-in-out;
    }
    .product-cart-button {
        width: 100%;
        position: absolute;
        bottom: -55px;
        left: 0;
        right: 0;
        opacity: 0;
        transition: all .4s ease-in-out;

    }

    .card-img-container {
        transition: all .4s ease-in-out 0s;
    }

    .buttons--quickview {
        display: block;
        position: absolute;
        z-index: 5;
        top: 40%;
        left: 50%;
        transform: translateX(-50%) scale(0);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        line-height: 48px;
        opacity: 0;
        text-align: center;
        box-shadow: 0 3px 6px 1px rgb(0 0 0 / 20%);
        transition: all .3s ease-in-out 0s;
    }

    //Hover Product card
    &:hover {
        &.card-image--jump .product-cart-content{
            margin-top: -50px;
            padding-bottom: 50px;
            z-index: 50;
        }
        &.card-image--jump .product-cart-button {
            opacity: 1;
            bottom: 0;
        }

        .buttons--quickview {
            opacity: 1;
            visibility: visible;
            transform: translateX(-50%) scale(1);
        }
    }
}
.product-card-v2 {
    .product-cart-button {
        position: absolute;
        width: 100%;
        bottom: -41px;
        left: 0;
        z-index: 12;
        transition: bottom .3s ease-in-out;
        .button--mutiqty {
            margin: 0 auto;
        }
    }
    .card-img-container {
        transition: all .2s ease-in-out 0s;
    }
    .buttons--quickview {
        display: block;
        position: absolute;
        z-index: 5;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        line-height: 48px;
        opacity: 0;
        text-align: center;
        box-shadow: 0 3px 6px 1px rgb(0 0 0 / 20%);
        transition: all .15s linear 0s;
    }
    //Hover Product card
    &:hover {
        .product-cart-button {
            bottom: 25px;
        }
        .buttons--quickview {
            opacity: 1;
            visibility: visible;
            transform: translateX(-50%) scale(1);
        }
    }
}
.card-image--jump {
    //Hover Product card
    &:hover {
        .card-img-container {
            transform: translateY(-15px);
        }
    }
}
.card-image--zoom{
    &:hover {
        .card-img-container {
            //transform: scale(1.1);
        }
    }
}

//Extraslider--sidebar
.extraslider--sidebar{
    .swiper-prev,
    .swiper-next{
        width:24px;
        height:24px;
        box-shadow: 0 1px 3px rgb(115 125 144 / 25%);

        svg{
            width:15px;
        }
    }
    .product-card{
        padding:10px 0;
    }
    .product-card-img{
        width:80px;
    }

}
.tab-products{
    button:not(:first-child):before{
        content: '';
        width: 4px;
        height: 4px;
        background: #8D979E;
        display: block;
        border-radius: 100%;
        left: -15px;
        top: 50%;
        position: absolute;
        transform: translate(0, -50%);
    }
}
[dir="rtl"]{
    .tab-products{
        button:not(:first-child):before{
            right:-15px;
            left:auto;
        }
    }
}
/*Layout-Header*/

/*Layout-Footer*/

/*Home page 4*/
.animation-paused {
    animation-play-state: paused !important;
}
/*RTL Language - Arabic*/
[dir="rtl"]{
    .category-dropdown-menu  li > div.dropdownMenu{
        right:85%;
        left:auto;
    }
    .category-dropdown-menu  li:hover > div.dropdownMenu{right:100%; left:auto;}
    .shadow-md{
        box-shadow: -1px 2px 3px rgb(0 0 0 / 25%);
    }
    .after-item-opacity:after{
        right:0;
        left:auto;
    }
    span.has-dot:before{
        left: auto;
        right: -2px;
    }
    .xl\:space-x-10 > :not([hidden]) ~ :not([hidden]){
        --tw-space-s-reverse: 0;
        margin-inline-end: calc(2.5rem * var(--tw-space-s-reverse));
        margin-inline-start: calc(2.5rem * calc(1 - var(--tw-space-s-reverse)));
    }
    .bg-iconPhone{
        background-position: right center;
    }
}

/*Responsive For Ipad */
@media (min-width:768px) and (max-width:1023px){

}

